<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
</head>
<body>
    <h2>Welcome to XYZ Bank!</h2>
    <p>IFSC Code: XY89650</p>
    <p><strong>Your Name:</strong> {{ user.name }}</p>
    <p><strong>Your Aadhar Card Number:</strong> {{ user.aadhar_card }}</p>
    <p><strong>Your City:</strong> {{ user.city }}</p>
    <p><strong>Your Contact Number:</strong> {{ user.contact_number }}</p>
    <p><strong>Your Account Number:</strong> {{ user.account_number }}</p>
    <p><strong>Your CIF Number:</strong> {{ user.cif_number }}</p>
</body>
</html>
